<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fragatta - Web Socket</title>
  </head>
  <body>
    <h1>Ghost App - Chat</h1>

    <input type="text" id="username" placeholder="Usuário"> <br>
    <input type="text" id="mensagem" placeholder="Insira a mensagem"> <br>
    <button onclick="enviar()" id="btnEnviar">Enviar</button>

    <div id="chat"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      // apontando a url do servidor para o client se conectar
      const SERVER_URL = 'http://localhost:5000';
      // abrindo uma conexão do client com o servidor
      const socket = io(SERVER_URL);

      function enviar() {
        const userField = document.getElementById('username');
        const messageField = document.getElementById('mensagem');

        const usuario = userField.value;
        const message = messageField.value;
        socket.emit('iniciaChat', { usuario, message });
      };

      socket.on('showMessage', (data) => {
        console.log('Resultado: ', data);
        const chatScreen = document.getElementById('chat');
        const p = document.createElement('p');
        p.innerHTML = `User: ${data.usuario} <br> Mensagem: ${data.message}`;
        chatScreen.append(p);
      });
    </script>
  </body>
</html>
