body, .bg-mensagem {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

#chat {
  height: 50vh;
  overflow-y: auto;
}
